.order-confirmation h1 {
    margin-right: 4%;
}
.order-confirmation h2{
    font-size: 1.2rem;
    padding: 1%;
}

.order-confirmation button:nth-of-type(1){
    background-color: red;
    border: red;
    margin-bottom: 2% !important
}


.order-confirmation button:nth-of-type(1):hover{
    background-color: rgb(168, 0, 0)
    
}


@media only screen and (max-width: 768px) {
    .order-confirmation h2 {
        font-size: 1rem;
        padding: 1%;
    }
}

@media only screen and (max-width: 415px) {
    .order-confirmation h1 {
        font-size: 1.8rem;
    }
    .order-confirmation .card-wrapper {
        margin-top: 20px !important;
    }
}