.table-responsive {
    /*overflow-x: auto;*/
    /*overflow-y: auto;*/
    /*position: relative;*/
    /*display: table;*/
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    /*table-layout: fixed;*/
    /* this keeps your columns with fixed with exactly the right width */
    /*width: 100%;*/
    /* table must have width set for fixed layout to work as expected */
    /*height: 100%;*/
    /*height: 100%;*/
    /*max-height: 700px;*/
    /*table-layout: fixed;*/
}
.table-custom-design {
    display: block;
    width: 100%;
}

.table-custom-design thead {
    background-color: #040404;
    color: white;
}
.table-fixed thead {
    /*display: block;*/
    /*overflow-x: auto;*/
}
.table-fixed tbody {
    /*display: block;*/
    height: 400px;
    overflow-y:auto;
    /*overflow-x: auto;*/
    /*width: 100%;*/
}
.table-fixed tr {
    /*display: block;*/
}
.table-fixed td {
    /*display: block;float: right;*/
}
.table-fixed th {
    /*display: block;float: right;*/
}
.table-sticky-header {
    top: 0px;
    position: fixed;
    overflow-x: hidden;
}
/*.fl-scroll {*/
    /*!*width: 984px;*!*/
    /*!*left: 20px;*!*/
    /*!*border-bottom: solid 32px white;*!*/
    /*!*bottom: 0;*!*/
    /*!*height: 35px;*!*/
    /*!*overflow: auto;*!*/
    /*!*position: fixed;*!*/
    /*!*font-size: 0;*!*/
    /*!*line-height: 0;*!*/
    /*!*margin: 0;*!*/
    /*!*padding: 0;*!*/
    /*width: 900px;*/
    /*height: 20px;*/
    /*overflow-y: auto;*/
/*}*/

/*.fl-scroll div {*/
    /*!*font-size: 0;*!*/
    /*!*line-height: 0;*!*/
    /*!*margin: 0;*!*/
    /*!*padding: 0;*!*/
    /*!*height: 1px;*!*/
    /*!*overflow: hidden;*!*/
    /*height: 20px;*/
    /*width: 2177px;*/
/*}*/

.fl-scroll {
    /*width: 984px;*/
    /*left: 20px;*/
    /*border-bottom: solid 32px white;*/
    /*bottom: 0;*/
    /*height: 35px;*/
    /*overflow: auto;*/
    /*position: fixed;*/
    /*font-size: 0;*/
    /*line-height: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    width: 150%;;
    height: 30px;
    overflow-y: auto;

    z-index: 111111;
}

.fl-scroll-position-fixed {
    position: fixed;
    bottom: 0px;
}

.fl-scroll div {
    /*font-size: 0;*/
    /*line-height: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*height: 1px;*/
    /*overflow: hidden;*/
    height: 30px;
    margin-top: -10px;
    width: 200%;
}

