.margin-auto {
    margin: auto;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    width: 800px;
    max-width:900px;
    margin: auto;
    display: block;
    margin-top: 26px;
    border: none;
    z-index: 0;
}
.process-model li::after{
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: 150px;
    top: 33px;
    width: 65%;
    z-index: -3;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 31.6%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.process-model-active > a, .nav-tabs.process-model > li.process-model-active > a:hover, .nav-tabs.process-model > li.process-model-active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.process-model-active,
.process-model li.visited {
    color: #57b87b;
}
.process-model li.process-model-active a,
.process-model li.process-model-active a:hover,
.process-model li.process-model-active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #57b87b;
}
.process-model li.process-model-active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.process-model-active i, .process-model li.visited i  {
    background: #fff;
    border-color: #57b87b;

}
.process-model li p {
    font-size: 18px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal;

}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}
.active-after {
    z-index: -2 !important;
}
.process-model li .active-after::after {
    background: #57b87b none repeat scroll 0 0;
    bottom: 0;
    display: block;
    content: "";
    width:73.5%;
    height: 4px;
    left: 100px !important;
    margin-top: -89px;
    margin-left: 0%;
    margin-right: 63%;
    z-index: -2 !important;
}


.process-model li .active-after2::after {
    background: #57b87b none repeat scroll 0 0;
    bottom: 0;
    display: block;
    content: "";
    width:73.5%;
    height: 4px;
    left: 100px !important;
    margin-top: -89px;
    margin-left: 0%;
    margin-right: 63%;
    z-index: -2 !important;
}


@media screen and (max-width:769px){
    .process-model {
        width: 600px;
    }

    .process-model li .active-after::after {
        width:66%;
        left: 100px !important;
        margin-top: -89px;
        margin-left: 0%;
        margin-right: 67%;
    }
    
    
    .process-model li .active-after2::after {
        width:66%;
        left: 100px !important;
        margin-top: -89px;
        margin-left: 0%;
        margin-right: 67%;
    }

    .process-model li::after{
        right: 120px;
        top: 33px;
        z-index: -3;
    }
}
@media screen and (max-width: 576px) {
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }

    .process-model {
        width: 500px;
    }

    .process-model li .active-after::after {
        width:60%;
        margin-right: 70%;
    }
    
    .process-model li .active-after2::after {
        width:60%;
        margin-right: 70%;
    }
}

@media screen and (max-width:415px){

    .process-model {
        width: 380px;padding: 0;
        margin: 0 auto ;
    }
    .process-model li .active-after::after {
        width:45%;
        margin-right: 77%;
    }
    .process-model li .active-after2::after {
        width:45%;
        margin-right: 77%;
    }
    
    .process-model li::after{
        right: 80px;
        top: 33px;
    }

}

@media screen and (max-width: 380px) {

    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 17px;
    }

    .process-model.more-icon-preocess {
        text-align: center;
    }

    .process-model {
        width: 300px;padding: 0;
        margin: 0 auto ;
    }
    .process-model li .active-after::after {
        width:32%;
        margin-right: 84%;
    }
    .process-model li .active-after2::after {
        width:32%;
        margin-right: 84%;
    }
   
}

@media screen and (max-width:320px) {

    .process-model li::after{
        width: 45%;
    }
}