.margin-auto {
    margin: auto;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    width: 400px;
    max-width:900px;
    margin: auto;
    display: block;
    margin-top: 26px;
    border: none;
    z-index: 0;
}
.process-model li::after{
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: 50px;
    top: 33px;
    width: 75%;
    z-index: -3;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 31.6%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.process-model-active > a, .nav-tabs.process-model > li.process-model-active > a:hover, .nav-tabs.process-model > li.process-model-active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.process-model-active,
.process-model li.visited {
    color: #57b87b;
}
.process-model li.process-model-active a,
.process-model li.process-model-active a:hover,
.process-model li.process-model-active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #57b87b;
}
.process-model li.process-model-active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.process-model-active i, .process-model li.visited i  {
    background: #fff;
    border-color: #57b87b;

}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal;

}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}


@media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}

@media screen and (max-width:415px){

    .more-icon-preocess.process-model li::after {
        top: 34px
    }

    .process-model li::after{
        height: 4px;
        right: 50px;
        top: 33px;
        /* width: 35%; */
        z-index: -3;
    }

    .process-model {
        padding: 0;
        margin: 0 auto ;
    }

    #content , #reporting {
        display: none
    }



}

@media screen and (max-width: 380px) {

    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 18px;
    }

    .process-model.more-icon-preocess {
        text-align: center;
    }

    .design-process-content {
        margin: auto;
        margin-right:7.5%;
    }
}

@media screen and (max-width:320px) {

    .process-model li {
        width: 25.6%;
    }

    .process-model li::after{
        width: 45%;
    }
}