.setFactor-info h1 {
    margin-right: 4%;
}
.setFactor-info h2 {
    font-size: 1.2rem;
    padding: 1%;
}
.setFactor-info button:nth-of-type(2) {
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    margin: auto;
    background-color: #192cff;
    margin-top: 2%;
    border: blue;
}
.setFactor-info button:nth-of-type(2):hover {
    background-color: #0000ff;
}

.setFactor-info button:nth-of-type(1) {
    font-weight: 400;
    font-size: 1.2rem;
}
.setFactor-info label {
    font-weight: 400;
    font-size: 1.2rem;
}

/* .setFactor-info .row .def-address {
    display: none;
} */

.setFactor-info div.def-address {
    border-bottom: thin solid silver;
    border-top: thin solid silver;
    width: 100%;
    display: none;

}

.setFactor-info .def-address p {
    font-family: sans-serif !important;
    font-size:2em !important;
    font-weight: bold !important;
    display: inline-block;

}

.setFactor-info .def-address span {
    font-family: sans-serif !important;
    color: #007bff;
    display: inline-block;
    margin-right: 50% !important;
    cursor: pointer;
    font-weight: bolder;  
}

/*.col-lg-4 .form-control {*/
    /*display:none*/
/*}*/


/*.setFactor-info .form-group {*/
    /*display: none;*/
/*}*/
@media only screen and (max-width: 415px) {
    .setFactor-info h1 {
        font-size: 1.8rem;
    }
    .setFactor-info .card-wrapper {
        margin-top: 20px !important;
    }
}
.setFactor-info .rowhidden{
    /*display: rowhiddennone ;*/
}

/*-------------------savedAddresses-------------------*/

.savedAddresses {
    width: 100%;
    /*box-shadow: 0px 2px 10px 5px #727272;*/
    padding-bottom: 2%;
    /*box-shadow: 0 4px 2px -2px gray;*/
}
.savedAddresses h1{
    text-align: right;
    color: #000;
    font-family: sans-serif, serif;

}


.savedAddresses p {
    font-family: sans-serif, serif;
    font-weight: bold;
    padding-right: 0em;
    border-radius: .25em;
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 1%;

}

.savedAddresses form p{
    margin-right: 2rem;
    display: inline;
}

.savedAddresses form p span {
    color: green;
    /*-webkit-user-modify: read-write;*/
    /*-moz-user-modify: read-write;*/
    /*user-modify: read-write;*/
}
.savedAddresses form p span::placeholder {
    color: orange;
}

.addNewAddressBtn{
    text-align: center;
    border: thin solid #0066ff;
    background-color: #0066ff;
    width: 27%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .475rem 2rem;
    font-size: 100% !important;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
    font-weight: bolder;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 100px 100px 100px 100px;
    display: block;
    margin: auto;
    cursor: pointer;
}
.addNewAddressBtn:hover {
    background-color: #0000ff;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}


[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 0em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 2em; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em; left: 1.65em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

p.address:hover > span.fullAddress {
    display: block;
}
span.fullAddress {
    /*margin-top: -4% !important;*/
    background-color: black !important;
    color: white !important;
    /*display: none !important;*/
    margin:auto;
    display: none;
    width: 90%;
    padding: 0.5%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    border-radius: 2%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif, serif;
}

@media only screen and (max-width:769px){
     .addNewAddressBtn {
        width: 34%;
        font-size: 90% !important;
        padding: .275rem 0.5rem;

    }
}


@media only screen and (max-width:321px){

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        left: 1.5em; top: 0;
    }
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        top: .15em; left: 1.25em;
    }
    .savedAddresses form p {
        width: 70%;
    }
    .savedAddresses p.address {
        width: 250px !important;
        font-size: 1em !important;
        height: 2em;
    }
    .addNewAddressBtn {
        width: 40%;
        font-size: 90% !important;
        padding: .275rem 0.25rem;
    }
}