.setFactor-info h1 {
    margin-right: 4%;
}
.setFactor-info h2 {
    font-size: 1.2rem;
    padding: 1%;
}
.setFactor-info button:nth-of-type(1) {
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    margin: auto;
    background-color: red;
    margin-bottom: 2%;
    border: red;
}
.setFactor-info button:nth-of-type(1):hover {
    background-color: rgb(187, 3, 3)
}

.setFactor-info button:nth-of-type(2) {
    font-weight: 400;
    font-size: 1.2rem;
}
.setFactor-info label {
    font-weight: 400;
    font-size: 1.2rem;
}

.setFactor-info .row .form-group  {
    display: none
}
.setFactor-info .row div:nth-child(1) {
    display: block;
}

.setFactor-info .row div.def-address {
    border-bottom: thin solid silver;
    border-top: thin solid silver;
    width: 100%;

}

.setFactor-info .def-address p {
    font-family: sans-serif !important;
    font-size:2em !important;
    font-weight: bold !important;
    display: inline-block;

}

.setFactor-info .def-address span {
    font-family: sans-serif !important;
    color: #007bff;
    display: inline-block;
    margin-right: 50% !important;
    cursor: pointer;
    font-weight: bolder;  
}

.col-lg-4 .form-control {
    display:none
}
@media only screen and (max-width: 415px) {
    .setFactor-info h1 {
        font-size: 1.8rem;
    }
    .setFactor-info .card-wrapper {
        margin-top: 20px !important;
    }
}