* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;

}

body {
    /*font-family: sans-serif;*/
    padding: 0 50px 50px;
    background: linear-gradient(45deg, #f37646, #f3e946) 50% no-repeat;
    line-height: 1.4;
}

.title {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
}

.carousel {
    margin-bottom: 30px;
}

.item{
    margin: 40px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}
.item:hover {
    transform: translate3d(0, -10px, 0);
}
.item img {
    display: block;
    width: 100%;
    height: auto;
}

.item_body {
    padding: 25px;
}

.item_title {
    font-style: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #232323;
}

.item_desc {
    color: #585858;
}

/*
CAROUSEL
*/

.carousel {
    position: relative;
}

.carousel_container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

/* technique pour éviter le vide de flux */
.carousel_container::after {
    content: "";
    clear: both;
    display: table;
}

.carousel_item {
    float: left;
}

.carousel_next, .carousel_prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(https://banner2.kisspng.com/20180203/tsq/kisspng-arrow-ico-icon-right-arrow-png-photo-5a758aa9a205b1.5795578115176526496637.jpg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel_next:hover, .carousel_prev:hover {
    transform: scale(1.2);
}
.carousel_prev {
    background-image: url(https://banner2.kisspng.com/20180417/wiw/kisspng-font-awesome-arrow-web-typography-computer-icons-left-arrow-5ad67e34deecc8.0026425615240064529131.jpg);
    right: auto;
    left: -20px;
}