.accordion {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2%;
    /*justify-content: space-around;*/
}
.accordion__item {
    flex: 45%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    /*max-width: 25%;*/
    /*align-self: flex-start;*/
}

.accordion__item ul {
    padding-left: 1%;
}

@media only screen and (max-width: 420px) {
    .accordion__item li {
        padding-top: 1%;padding-bottom: 1%;
    }
    .accordion__title h2 {
        font-size: 1rem;
    }
    .accordion__item {
        flex: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .accordion__item li {
        padding-top: 0;padding-bottom: 0.5%;
    }
    .accordion__title h2 {
        font-size: 1.5rem;
    }
}
